* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  background-color: rgb(61, 61, 61);
  margin: 0;
  padding: 0;
}

.tag {
  font-size: xx-small;
  padding-left: 50%;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar a.active {
  border-bottom: 3px solid rgb(212, 212, 212);
}

.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.textcont h1 {
  color: white;
  display: flex;
  justify-content: center; /* Centers horizontally */
  height: 100vh;
}

.navtext {
  color: white;
}
.lorumipse {
  color: white;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  font-size: 18px;
}
#lorum-container {
  max-width: 700px;
  margin: 40px auto 80px auto;
  padding: 0 20px;
  display: block;
}
